<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">
	<bean id="nettyServer" init-method="bind" destroy-method="close" class="com.mhuang.server.NettyServer">
		<property name="port" value="8001"/>
	</bean>
</beans>